@model WebApplication1.CSRCP
@using WebApplication1.Utility

@{
    ViewBag.Title = Html.Action() + " Receipt " + Model.TRNO;
}
<div class="border border-info bg-info" style="width:98vw">
    <h4 class="h4 text-center">@ViewBag.Title</h4>
</div>

@if (@Html.Action() == "Delete")
{
    <div class="border border-info bg-warning" style="width:98vw">
        <br />
        <h4 class="h4 text-center">ARE YOU SURE YOU WANT TO DELETE THIS</h4>
        <br />
    </div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TRNO)

        @if (@Html.Action() == "Delete")
        {
            <div class="form-group form-check-inline border border-danger" style="width:96vw">
                <div class="form-group col-md-6 form-check-inline">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.CVDATE, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.CVDATE, new { htmlAttributes = new { @Value = Model.VDATE.ToString("yyyy-MM-dd"), @class = "form-control date datepicker" } })

                        @Html.ValidationMessageFor(model => model.CVDATE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6 form-check-inline">


                    <div class="col-md-3">
                        @Html.LabelFor(model => model.CREM, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.CREM, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CREM, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        }

        <div class="form-group form-check-inline" style="width:96vw">
            <div class="form-group col-md-6 form-check-inline">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.VDATE, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.VDATE, new { htmlAttributes = new { @Value = Model.VDATE.ToString("yyyy-MM-dd"), @class = "form-control date datepicker" } })

                    @Html.ValidationMessageFor(model => model.VDATE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6 form-check-inline">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.CONO, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @if ((@Html.Action() != "Create") && ((IQueryable<CSTRANM>)ViewBag.CSTRANM).ToList().Count > 0)
                    {
                        @Html.HiddenFor(model => model.CONO);
                        @Html.Editor("CONAME", new { htmlAttributes = new { @class = "form-control", @readonly = true, @value = ViewBag.CONAME } })
                    }
                    else
                    {
                        @Html.DropDownList("CONO", null, "No Selection", htmlAttributes: new { @class = "form-control" })
                    }
                    @Html.ValidationMessageFor(model => model.CONO, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div class="form-group form-check-inline" style="width:96vw">
            <div class="form-group col-md-4 form-check-inline">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.RCAMT, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.RCAMT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RCAMT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3 form-check-inline">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.RCMODE, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-9">
                    @Html.DropDownList("RCMODE", null, "No Selection", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RCMODE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-5 form-check-inline">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.RCMAPCODE, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.DropDownList("RCMAPCODE", null, "No Selection", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RCMAPCODE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="divEditRCMode">
            @{Html.RenderPartial("Partial/EditRCMode", @Model);}
        </div>

        <div class="form-group form-check-inline" style="width:96vw">
            <div class="form-group col-md-4 form-check-inline">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.COMAMT, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.COMAMT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.COMAMT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-3 form-check-inline">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.NETAMT, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.NETAMT, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(model => model.NETAMT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-5 form-check-inline">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.REM, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.REM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.REM, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*<div class="form-group form-check-inline" style="width:96vw">


                <div class="form-group col-md-3 form-check-inline">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.SEQNO, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SEQNO, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SEQNO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-3 form-check-inline">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.POST, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.POSTBool, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.POST, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@
        @Html.HiddenFor(model => model.SEQNO)
        @Html.HiddenFor(model => model.POSTBool)

        @*<div class="form-group col-md-10 form-check-inline">
                @Html.LabelFor(model => model.CFLAG, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CFLAG, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CFLAG, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-10 form-check-inline">
                @Html.LabelFor(model => model.CTRNO, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CTRNO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CTRNO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-10 form-check-inline">
                @Html.LabelFor(model => model.CVDATE, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CVDATE, new { htmlAttributes = new { @Value = Model.CVDATE?.ToString("yyyy-MM-dd"), @class = "form-control date datepicker" } })
                    @Html.ValidationMessageFor(model => model.CVDATE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-10 form-check-inline">
                @Html.LabelFor(model => model.CREM, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CREM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CREM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-10 form-check-inline">
                @Html.LabelFor(model => model.CSEQNO, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CSEQNO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CSEQNO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-10 form-check-inline">
                @Html.LabelFor(model => model.CPOST, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.CPOST, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CPOST, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-10 form-check-inline">
                @Html.LabelFor(model => model.STAMP, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.STAMP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.STAMP, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @Html.HiddenFor(model => model.CFLAG)
        @Html.HiddenFor(model => model.CTRNO)
        @Html.HiddenFor(model => model.CVDATE)
        @Html.HiddenFor(model => model.CREM)
        @Html.HiddenFor(model => model.CSEQNO)
        @Html.HiddenFor(model => model.CPOST)
        @Html.HiddenFor(model => model.STAMP)
        @Html.HiddenFor(model => model.HKMAP)
        @Html.HiddenFor(model => model.HKBANK)
        @Html.HiddenFor(model => model.HKRCMODE)
        @Html.HiddenFor(model => model.HKRCISSLOC)






        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (@Html.Action() == "Details")
                {
                    if (!Model.archived)
                    {
                        @Html.ActionLink(" Edit", "Edit", new { id = MyHtmlHelpers.ConvertIdToByteStr(Model.TRNO) }, new { @class = "btn btn-primary fa fa-edit", title = "Edit" })
                    }
                }
                else
                {
                    if ((Html.Action() == "Delete") && (!ViewData.ModelState.IsValid)) { }
                    else
                    {
                        <input type="submit" value="Confirm" class="btn btn-primary fa fa-flash" Title="Execute" />
                    }
                }
                @if (Model.TRNO != null)
                {
                    @Html.ActionLink(" Receipt", "Receipt", new { id = MyHtmlHelpers.ConvertIdToByteStr(Model.TRNO) }, new { @class = "btn btn-info fa fa-print", title = "print" })
                }
                @Html.ActionLink(" Back", "Index", new { page = ViewBag.page }, new { @class = "btn btn-info fa fa-arrow-left" })
            </div>
        </div>

    </div>
                }

@if (!((Model.TRNO == null) || (Model.TRNO == "") || (!ViewData.ModelState.IsValid)))
{
    <div class="container" style="width:96vw">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" style="width:96vw">
            <li class="nav-item">
                <a class="nav-link active" id="tab_Alloted" data-toggle="tab" href="#Allocated">Allocated Items <p class="badge badge-dark">work</p></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab_UnAlloted" data-toggle="tab" href="#UnAllocated">Open Items <p class="badge badge-dark">work</p></a>
            </li>
            @if ((@Html.Action() == "Delete") || (@Html.Action() == "Details")) { }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" id="tab_Advance" data-toggle="tab" href="#Advance">Advance <p class="badge badge-dark">work</p></a>
                </li>
            }
        </ul>
    </div>


    <div class="tab-content">
        <div id="Allocated" class="container no-gutters tab-pane active ">
            <div class="border border-info bg-info" style="width:96vw">

                <h4 class="h4" style="text-align:center">Particulars</h4>

            </div>
            <div id="Allocated1">
                @Html.Action("CSTRANMAllocated", new { id = MyHtmlHelpers.ConvertIdToByteStr(Model.TRNO) })
            </div>
        </div>


        <div id="UnAllocated" class="container no-gutters tab-pane fade">
            <div class="border border-info bg-info" style="width:96vw">

                <h4 class="h4" style="text-align:center">Open Item</h4>

            </div>
            <div id="UnAllocated1">
                @Html.Action("CSTRANMOpen", new { cono = MyHtmlHelpers.ConvertIdToByteStr(Model.CONO), id = MyHtmlHelpers.ConvertIdToByteStr(Model.TRNO) })

            </div>
        </div>

        @if ((@Html.Action() == "Delete") || (@Html.Action() == "Details")) { }
        else
        {
            <div id="Advance" class="container no-gutters tab-pane fade">
                <div class="border border-info bg-info" style="width:96vw">

                    <h4 class="h4" style="text-align:center">Advance</h4>

                </div>
                <div id="Advance1">
                    @Html.Action("CSTRANMAdvance", new { id = MyHtmlHelpers.ConvertIdToByteStr(Model.TRNO) })
                </div>


            </div>
        }
    </div>
}





@section Scripts {

    <script>
        var datefield = document.createElement("input")
        datefield.setAttribute("type", "date")
        if (datefield.type != "date") {
            jQuery(function ($) {
                $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    startDate: '-30000d',

                });

            })
        }

        $('#RCAMT,#COMAMT').change(function() {
            $('#NETAMT').val(parseFloat($('#RCAMT').val()) + parseFloat($('#COMAMT').val()));
        }
        )

        JModel = null;
        NModel = null;

        $(document).ready(
            function () {

                JModel = { "RCMODE": "@Model.RCMODE","ISSBANK" : "@Model.ISSBANK", "ISSLOC": "@Model.ISSLOC", "ISSREFNO": "@Model.ISSREFNO", "ISSDATE": "@Model.ISSDATE",  "REM": "@Model.REM","STAMP": @Model.STAMP }
                NModel = { "source": "CSRCP", "sourceno": "@Model.TRNO", "id": "0", "trno": "@Model.TRNO", "cono": "@Model.CONO" }
            })

        $('#RCMODE').change(function () {


            JModel.RCMODE = $('#RCMODE').val();
            JModel.REM = $('#REM').val();
            JModel.STAMP = $('#STAMP').val();
            JModel.ISSBANK = $('#ISSBANK').val();
            JModel.ISSREFNO = $('#ISSREFNO').val();
            JModel.ISSLOC = $('#ISSLOC').val();
            JModel.ISSDATE = $('#ISSDATE').val();


            var jData = JSON.stringify(JModel);


            $("#divEditRCMode").load('@Url.Action("EditRCMode")', JModel, function () {

            });

        })

        var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
        //window.location.hash = '';
        $(document).ready(function () {

            if (hash) {


                $('#tab_' + hash).click(); //function () { alert('clicked ' + hash); });
                //window.location.hash = '#' + hash;

                // hash found
            } else {
                // No hash found
            }
        })

        if (("@Html.Action()" == "Details") || ("@Html.Action()" == "Delete"))  {
            $(":input").attr("readonly", true);
            $("select").attr("disabled", true);
            $("input[type=checkbox]").attr("disabled", true);
            $("#btnTax").hide();
        }

        if ( ("@Html.Action()" == "Delete"))  {
            $("#CREM").attr("readonly", false);
            $("#CVDATE").attr("readonly", false);
        }
    </script>


    @Scripts.Render("~/bundles/jqueryval")
}
