@using WebApplication1.Utility;
@model IEnumerable<WebApplication1.CSCOSHEQ>

@{
    ViewBag.Title = "Index";
}

<div class="border border-info bg-info" style="width:98vw">
    <h4 class="h4 text-center">@ViewBag.Title</h4>
</div>


<table class="table table-bordered table-hover table-responsive-lg table-sm">
    <tr  class="label-primary">
	   <th>
         @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-primary h4" })
       </th>
        <th>
            @Html.DisplayNameFor(model => model.MVNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MVID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MVTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MVDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MVSIGN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FOLIONOSRC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EQCODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCRIPT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CERTNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHAREAMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSHAREAMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SHAREOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SAMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REFCNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMPLETE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMPLETED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STAMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSCOSH.REM)
        </th>
        
    </tr>

@foreach (var item in Model) {
            <tr class="text-nowrap">
                <td>
                    @Html.ActionLink(" ", "Edit", new {  /* id=item.PrimaryKey */  }, new {@class="fa fa-edit", title="Edit"})
                    @Html.ActionLink(" ", "Details", new {  /* id=item.PrimaryKey */ }, new { @class = "fa fa-folder", title = "Details" })
                    @Html.ActionLink(" ", "Delete", new {  /* id=item.PrimaryKey */  }, new { @class = "fa fa-trash", title = "Delete" })
                </td>

        <td>
            @Html.DisplayFor(modelItem => item.MVNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MVID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MVTYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MVDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MVSIGN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FOLIONOSRC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EQCODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCRIPT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CERTNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHAREAMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSHAREAMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SHAREOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SAMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REFCNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPLETE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPLETED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STAMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSCOSH.REM)
        </td>
    </tr>
}

</table>
