@using PagedList;
@using PagedList.Mvc;
@using WebApplication1.Utility;
@model IEnumerable<WebApplication1.CSCND>

@{
    ViewBag.Title = "Discounted Bill Details";
}

<div class="border border-info bg-info" style="width:98vw">
    <h4 class="h4 text-center">@ViewBag.title</h4>
</div>

<table class="table table-bordered table-hover table-responsive-lg table-sm">
    <tr class="label-primary">
        <th>
            @Html.ActionLink("Add", "Create", "CSCNDs", new { id = MyHtmlHelpers.ConvertIdToByteStr(ViewBag.Id) }, new { @class = "btn btn-primary h4" })
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TRID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CASECODE)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ITEMTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMDESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMSPEC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAXRATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMAMT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAXAMT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NETAMT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMAMT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAXAMT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NETAMT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMAMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAXAMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NETAMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.refcnt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().LinkRef)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.STAMP)
            </th>*@


        @{
            decimal tot101 = 0;
            decimal tot102 = 0;
            decimal tot103 = 0;
            decimal tot104 = 0;
            decimal tot105 = 0;
            decimal tot106 = 0;
            decimal tot107 = 0;
            decimal tot108 = 0;
            decimal tot109 = 0;
        }

    </tr>

    @foreach (var item in Model)
    {
        tot101 += item.ITEMAMT1;
        tot102 += item.TAXAMT1;
        tot103 += item.NETAMT1;
        tot104 += item.ITEMAMT2;
        tot105 += item.TAXAMT2;
        tot106 += item.NETAMT2;
        tot107 += item.ITEMAMT;
        tot108 += item.TAXAMT;
        tot109 += item.NETAMT;
        <tr class="text-nowrap">

            @if (item.refcnt > 0)
                {
                <td></td>}
                else
                {
                <td>
                    @Html.ActionLink(" ", "Edit", "CSCNDs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.TRNO), row = item.TRID }, new { @class = "fa fa-edit", title = "Edit" })
                    @Html.ActionLink(" ", "Details", "CSCNDs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.TRNO), row = item.TRID }, new { @class = "fa fa-folder", title = "Details" })
                    @Html.ActionLink(" ", "Delete", "CSCNDs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.TRNO), row = item.TRID }, new { @class = "fa fa-trash", title = "Delete" })
                </td>
            }


            <td>
                @Html.DisplayFor(modelItem => item.TRID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CASECODE)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ITEMTYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEMDESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ITEMSPEC)
            </td>

            <td class="text-right">
                @Html.DisplayFor(modelItem => item.TAXRATE)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.ITEMAMT1)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.TAXAMT1)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.NETAMT1)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.ITEMAMT2)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.TAXAMT2)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.NETAMT2)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.ITEMAMT)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.TAXAMT)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.NETAMT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.refcnt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkRef)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.STAMP)
                </td>*@


        </tr>
    }

    <tr>
        <td colspan="7" style="text-align:right"><strong>Total</strong></td>
        <td style="text-align:right">
            <strong>  @tot101.ToString("N2")  </strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot102.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot103.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot104.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot105.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>       @tot106.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>       @tot107.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>      @tot108.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>      @tot109.ToString("N2")</strong>
        </td>
    </tr>

</table>
