@model WebApplication1.CSCOFEE

@using WebApplication1.Utility
@{
    Layout = "~/Views/Shared/_LayoutG.cshtml";
    ViewBag.Title = "Delete Company Fees ";
}

<div class="border border-info bg-info">
    <h4 class="h4 text-center">@ViewBag.Title @Model.CSCOMSTR.CONAME</h4>
</div>

<div class="border border-info bg-warning">
    <br />
    <h4 class="h4 text-center">ARE YOU SURE YOU WANT TO DELETE THIS</h4>
    <br />
</div>
<div>
  
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CSCASE.CASEDESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CSCASE.CASEDESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEETYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEETYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEEAMT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEEAMT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEEMTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEEMTH)
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.LASTTOUCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTTOUCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STAMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAMP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> 
            @Html.ActionLink(" Back", "Edit", "cSCOMSTRs", new { id = MyHtmlHelpers.ConvertIdToByteStr(Model.CONO) }, new { @class = "btn btn-info fa fa-arrow-left" })
        </div>
    }
</div>
