@using WebApplication1.Utility;
@model IEnumerable<WebApplication1.CSCND>

@{
    ViewBag.Title = "Index";
}

<div class="border border-info bg-info" style="width:98vw">
    <h2 class="h2 text-center">@ViewBag.Title</h2>
</div>


<table class="table table-bordered table-hover table-responsive-lg table-sm">
    <tr  class="label-primary">
	   <th>
         @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-primary h4" })
       </th>
        <th>
            @Html.DisplayNameFor(model => model.TRNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMDESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMSPEC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAXRATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMAMT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAXAMT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NETAMT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMAMT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAXAMT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NETAMT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ITEMAMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAXAMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NETAMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STAMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSCASE.CASEDESC)
        </th>
        
    </tr>

@foreach (var item in Model) {
            <tr class="text-nowrap">
                <td>
                    @Html.ActionLink(" ", "Edit", new {  /* id=item.PrimaryKey */  }, new {@class="fa fa-edit", title="Edit"})
                    @Html.ActionLink(" ", "Details", new {  /* id=item.PrimaryKey */ }, new { @class = "fa fa-folder", title = "Details" })
                    @Html.ActionLink(" ", "Delete", new {  /* id=item.PrimaryKey */  }, new { @class = "fa fa-trash", title = "Delete" })
                </td>

        <td>
            @Html.DisplayFor(modelItem => item.TRNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEMTYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEMDESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEMSPEC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAXRATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEMAMT1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAXAMT1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NETAMT1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEMAMT2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAXAMT2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NETAMT2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ITEMAMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAXAMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NETAMT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STAMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSCASE.CASEDESC)
        </td>
    </tr>
}

</table>
