@model IQueryable<WebApplication1.CSPRF>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Company Listing</title>
    @Styles.Render("~/Content/css")

    <style type="text/css">
        h1, h2, h3, h4 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        .letter {
            padding: 50px, 50px, 50px, 50px;
            margin: 50px, 50px, 50px, 50px;
            /*border: 1px solid black;*/
            /*background-color: lightblue;*/
        }

        html, body {
            padding: 0;
            margin: 0;
        }

        pre {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 1rem;
        }

        @@media print {
            header {
                position: relative;
                top: 0;
                width: 100%;
                height: 50px;
                /*background-color: #333;*/
                padding: 20px;
            }

            pre {
                border: none;
            }
        }

        @@media print {
            footer {
                /*background-color: #333;*/
                width: 100%;
                bottom: 0;
                height: 400px;
                position: relative; /* OldProperty */
                position: static; /* updated Property */
            }

            pre {
                border: none;
            }
        }

        @@media print {
            #main {
                position: relative;
                padding-top: 70px;
                /*height: 1000px;*/
                overflow: visible;
                text-align: left;
            }

            pre {
                border:none;
            }
        }
    </style>


</head>
<body>
    <div class="container-fluid">
        <div class="letter">
            <header>
                <div class="text-center">
                    <h4 class="h4">@ViewBag.Company</h4>
                    <br />
                    <u>Proforma Bill Listing from @ViewBag.RPT_START to @ViewBag.RPT_END</u>
                </div>
            </header>
        </div>
        <div id="main">
  
            <table class="table table-bordered table-hover table-responsive-lg table-sm">
                <tr class="label-primary">
   
                    <th>
                        @Html.DisplayNameFor(model => model.First().PRFNO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().VDATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().CONO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().CSCOMSTR.CONAME)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().COADDR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().DUEDAYS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().DUEDATE)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().ATTN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().REM)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().NETAMT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().AllocAmt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().billcnt)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().refcnt)
                    </th>
       

                </tr>
                @{
                    decimal netamt = 0;
                    decimal allocamt = 0;
                    string myWarning = "White";
                }

                @foreach (var item in Model)
                {
                    netamt += item.NETAMT;
                    allocamt += item.AllocAmt;
                    if (item.NETAMT != item.AllocAmt)
                    {
                        myWarning = "rosybrown";
                    }
                    else
                    {
                        myWarning = "white";
                    }
                    <tr class="text-nowrap"style="background-color: @myWarning">
  
                        <td>
                            @Html.DisplayFor(modelItem => item.PRFNO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VDATE)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CSCOMSTR.COREGNO)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CSCOMSTR.CONAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DUEDAYS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DUEDATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ATTN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.REM)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.NETAMT)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.AllocAmt)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.billcnt)
                        </td>
                        <td style="text-align:right">
                            @Html.DisplayFor(modelItem => item.refcnt)
                        </td>
    
                    </tr>
                }
                <tr>
                    <td colspan="9" style="text-align:right">
                        <strong>Total</strong>
                    </td>
                    <td style="text-align:right">
                        <strong> @netamt.ToString("N2")</strong>
                    </td>
                    <td style="text-align:right">
                        <strong> @allocamt.ToString("N2")</strong>
                    </td>
                </tr>
            </table>
        </div>


        <footer>
            <div class="row">


            </div>

        </footer>

    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
