@using WebApplication1.Utility;
@model IEnumerable<WebApplication1.CSTRANM>


<table class="table table-bordered table-hover table-responsive-lg table-sm">
    <tr class="label-primary">
        <th colspan="8"></th>
        <th colspan="9" style="text-align:center">Item</th>
        <th colspan="9" style="text-align:center">Balance</th>
        <th colspan="7"></th>
    </tr>

    <tr class="label-primary">
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOURCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOURCENO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOURCEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DUEDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRDESC)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.APPITEM1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPTAX1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPAMT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPITEM2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPTAX2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPAMT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPITEM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPTAX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APPAMT)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.TRITEMOS1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRTAXOS1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TROS1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRITEMOS2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRTAXOS2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TROS2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRITEMOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRTAXOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TROS)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.REM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REFCNT)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.STAMP)
            </th>*@

    </tr>

    @{
        decimal tot101 = 0;
        decimal tot102 = 0;
        decimal tot103 = 0;
        decimal tot104 = 0;
        decimal tot105 = 0;
        decimal tot106 = 0;
        decimal tot107 = 0;
        decimal tot108 = 0;
        decimal tot109 = 0;

        decimal tot201 = 0;
        decimal tot202 = 0;
        decimal tot203 = 0;
        decimal tot204 = 0;
        decimal tot205 = 0;
        decimal tot206 = 0;
        decimal tot207 = 0;
        decimal tot208 = 0;
        decimal tot209 = 0;

        decimal tot301 = 0;
        decimal tot302 = 0;
        decimal tot303 = 0;
        decimal tot304 = 0;
        decimal tot305 = 0;
        decimal tot306 = 0;
        decimal tot307 = 0;
        decimal tot308 = 0;
        decimal tot309 = 0;
    }

    @foreach (var item in Model)
    {
        <tr class="text-nowrap">
            <td>
                @if ((@Html.Action() == "Delete") || (@Html.Action() == "Details")) { }
                else
                {

                  
                        @*@Html.ActionLink(" ", "AddItem", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.SOURCENO), trno = ViewBag.TRNO }, new { @class = "fa fa-paperclip", title = "Add Item" })*@
                        <button type="button" onclick="callAdd( '@item.SOURCE', '@item.SOURCENO', @item.SOURCEID, '@ViewBag.TRNO' ,'@item.CONO' )" class="btn btn-primary fa fa-paperclip" title="Add Item"></button>
                  
                }
            </td>
            <td>
                @Html.DisplayFor(citem => item.SOURCE)
            </td>
            <td>
                @Html.DisplayFor(citem => item.SOURCENO)
            </td>
            <td>
                @Html.DisplayFor(citem => item.SOURCEID)
            </td>
            <td>
                @Html.DisplayFor(citem => item.ENTDATE)
            </td>
            <td>
                @Html.DisplayFor(citem => item.DUEDATE)
            </td>
            <td>
                @Html.DisplayFor(citem => item.TRTYPE)
            </td>
            <td>
                @Html.DisplayFor(citem => item.TRDESC)
            </td>



            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRITEM1)
                @{tot101 += item.TRITEM1;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRTAX1)
                @{tot102 += item.TRTAX1;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRAMT1)
                @{tot103 += item.TRAMT1;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRITEM2)
                @{tot104 += item.TRITEM2;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRTAX2)
                @{tot105 += item.TRTAX2;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRAMT2)
                @{tot106 += item.TRAMT2;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRITEM)
                @{tot107 += item.TRITEM;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRTAX)
                @{tot108 += item.TRTAX;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRAMT)
                @{tot109 += item.TRAMT;}
            </td>

            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRITEMOS1)
                @{tot201 += item.TRITEMOS1;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRTAXOS1)
                @{tot202 += item.TRTAXOS1;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TROS1)
                @{tot203 += item.TROS1;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRITEMOS2)
                @{tot204 += item.TRITEMOS2;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRTAXOS2)
                @{tot205 += item.TRTAXOS2;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TROS2)
                @{tot206 += item.TROS2;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRITEMOS)
                @{tot207 += item.TRITEMOS;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRTAXOS)
                @{tot208 += item.TRTAXOS;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TROS)
                @{tot209 += item.TROS;}
            </td>
            <td>
                @Html.DisplayFor(citem => item.REM)
            </td>
            <td>
                @Html.DisplayFor(citem => item.REFCNT)
            </td>
            @*<td>
                    @Html.DisplayFor(citem => item.STAMP)
                </td>*@


        </tr>
                    }

    @if (Model.Count() > 0)
    {
    <tr>
        <td colspan="8" style="text-align:right"><strong>Total</strong></td>
        <td style="text-align:right">
            <strong>  @tot101.ToString("N2")  </strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot102.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot103.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot104.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot105.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>       @tot106.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>       @tot107.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>      @tot108.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>      @tot109.ToString("N2")</strong>
        </td>

        <td style="text-align:right">
            <strong>  @tot201.ToString("N2")  </strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot202.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot203.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot204.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot205.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>       @tot206.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>       @tot207.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>      @tot208.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>      @tot209.ToString("N2")</strong>
        </td> 
    </tr>
    }
</table>

<script>

    function callAdd(source, sourceno, sourceid, trno, cono) {

        NModel.source = source;
        NModel.sourceno = sourceno;
        NModel.id = sourceid;
        NModel.trno = trno;
        NModel.cono = cono;

        var NData = JSON.stringify(NModel);


        $("#Allocated1").load('@Url.Action("AddItem")', NModel, function (response, status, xhr) {
            //$('#tab_Alloted').click();
            if (status != "success") {
                alert(xhr.statusText + "\nPlease Refresh and try again");
            }
        })
           
        $("#UnAllocated1").load('@Url.Action("CSTRANMOpen1")', NModel, function (response, status, xhr) {

        })
    }


</script>
