@using WebApplication1.Utility;
@model IEnumerable<WebApplication1.CSTRANM>


<table class="table table-bordered table-hover table-responsive-lg table-sm">
    <tr class="label-primary">
        <th colspan="9"></th>
        <th colspan="9" style="text-align:center">Item</th>
        <th colspan="9" style="text-align:center">Balance</th>
        <th colspan="9" style="text-align:center">Receipt</th>
        <th colspan="8"></th>
    </tr>

    <tr class="label-primary">
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SOURCEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SOURCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SOURCENO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SOURCEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ENTDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DUEDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRTYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRDESC)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().APPITEM1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().APPTAX1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().APPAMT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().APPITEM2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().APPTAX2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().APPAMT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().APPITEM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().APPTAX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().APPAMT)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.First().TRITEMOS1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRTAXOS1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TROS1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRITEMOS2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRTAXOS2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TROS2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRITEMOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRTAXOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TROS)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().TRITEM1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRTAX1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRAMT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRITEM2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRTAX2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRAMT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRITEM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRTAX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TRAMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().REM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().REFCNT)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.First().LinkRef)
        </th>*@
        @*<th>
                @Html.DisplayNameFor(model => model.STAMP)
            </th>*@



    </tr>

    @{
        decimal tot101 = 0;
        decimal tot102 = 0;
        decimal tot103 = 0;
        decimal tot104 = 0;
        decimal tot105 = 0;
        decimal tot106 = 0;
        decimal tot107 = 0;
        decimal tot108 = 0;
        decimal tot109 = 0;

        decimal tot201 = 0;
        decimal tot202 = 0;
        decimal tot203 = 0;
        decimal tot204 = 0;
        decimal tot205 = 0;
        decimal tot206 = 0;
        decimal tot207 = 0;
        decimal tot208 = 0;
        decimal tot209 = 0;

        decimal tot301 = 0;
        decimal tot302 = 0;
        decimal tot303 = 0;
        decimal tot304 = 0;
        decimal tot305 = 0;
        decimal tot306 = 0;
        decimal tot307 = 0;
        decimal tot308 = 0;
        decimal tot309 = 0;
    }

    @foreach (var item in Model)
    {

        <tr class="text-nowrap">
            <td>
                @if ((@Html.Action() == "Delete") || (@Html.Action() == "Details")) { }
                else
                {
                    if (item.REFCNT > 0) { }
                    else
                    {
                        // @Html.ActionLink(" ", "RemoveItem", new { sourceno = MyHtmlHelpers.ConvertIdToByteStr(item.SOURCENO), id = item.SOURCEID }, new { @class = "fa fa-trash", title = "Remove Item" })
                        //<button onclick="callEdit(  @item.SOURCEID  )">TEST</button>
                        <button type="button" onclick="callEdit(  @item.SOURCEID, '@item.TRTYPE', '@item.TRDESC'  )" class="btn btn-primary fa fa-trash" title="Remove Item or Modify Advance"></button>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(citem => item.SOURCEID)
            </td>
            <td>
                @Html.DisplayFor(citem => item.APPTYPE)
            </td>
            <td>
                @Html.DisplayFor(citem => item.APPNO)
            </td>
            <td>
                @Html.DisplayFor(citem => item.APPID)
            </td>
            <td>
                @Html.DisplayFor(citem => item.ENTDATE)
            </td>
            <td>
                @Html.DisplayFor(citem => item.DUEDATE)
            </td>
            <td>
                @Html.DisplayFor(citem => item.TRTYPE)
            </td>
            <td>
                @Html.DisplayFor(citem => item.TRDESC)
            </td>

            <td style="text-align:right">
                @Html.DisplayFor(citem => item.APPITEM1)
                @{tot101 += item.APPITEM1;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.APPTAX1)
                @{tot102 += item.APPTAX1; }
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.APPAMT1)
                @{tot103 += item.APPAMT1; }
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.APPITEM2)
                @{tot104 += item.APPITEM2; }
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.APPTAX2)
                @{tot105 += item.APPTAX2; }
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.APPAMT2)
                @{tot106 += item.APPAMT2; }
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.APPITEM)
                @{tot107 += item.APPITEM; }
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.APPTAX)
                @{tot108 += item.APPTAX; }
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.APPAMT)
                @{tot109 += item.APPAMT; }
            </td>


            <td style="text-align:right">
                @*@Html.DisplayFor(citem => item.TRITEMOS1)*@
                @{decimal tt8 = item.TRITEMOS1 + item.TRITEM1;}
                @{tot201 += item.TRITEMOS1 + item.TRITEM1;}
                @tt8.ToString("N2")
            </td>
            <td style="text-align:right">
                @*@Html.DisplayFor(citem => item.TRTAXOS1)*@
                @{decimal tt7 = item.TRTAXOS1 + item.TRTAX1;}
                @{tot202 += item.TRTAXOS1 + item.TRTAX1;}
                @tt7.ToString("N2")
            </td>
            <td style="text-align:right">
                @*@Html.DisplayFor(citem => item.TROS1)*@
                @{decimal tt6 = item.TROS1 + item.TRAMT1;}
                @{tot203 += item.TROS1 + item.TRAMT1;}
                @tt6.ToString("N2")
            </td>
            <td style="text-align:right">
                @*@Html.DisplayFor(citem => item.TRITEMOS2)*@
                @{decimal tt5 = item.TRITEMOS2 + item.TRITEM2;}
                @{tot204 += item.TRITEMOS2 + item.TRITEM2;}
                @tt5.ToString("N2")
            </td>
            <td style="text-align:right">
                @*@Html.DisplayFor(citem => item.TRTAXOS2)*@
                @{decimal tt4 = item.TRTAXOS2 + item.TRTAX2;}
                @{tot205 += item.TRTAXOS2 + item.TRTAX2;}
                @tt4.ToString("N2")
            </td>
            <td style="text-align:right">
                @*@Html.DisplayFor(citem => item.TROS2)*@
                @{decimal tt3 = item.TROS2 + +item.TRAMT2;}
                @{tot206 += item.TROS2 + +item.TRAMT2;}
                @tt3.ToString("N2")
            </td>
            <td style="text-align:right">
                @*@Html.DisplayFor(citem => item.TRITEMOS + item.TRITEM)*@
                @{decimal tt = item.TRITEMOS + item.TRITEM;}
                @{tot207 += item.TRITEMOS + item.TRITEM;}
                @tt.ToString("N2")
            </td>
            <td style="text-align:right">
                @*@Html.DisplayFor(citem => item.TRTAXOS + item.TRTAX)*@
                @{decimal tt1 = item.TRTAXOS + item.TRTAX;}
                @{tot208 += item.TRTAXOS + item.TRTAX;}
                @tt1.ToString("N2")
            </td>
            <td style="text-align:right">
                @*@Html.DisplayFor(citem => item.TROS + item.TRAMT)*@
                @{decimal tt2 = item.TROS + item.TRAMT;}
                @{tot209 += item.TROS + item.TRAMT;}
                @tt2.ToString("N2")
            </td>

            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRITEM1)
                @{tot301 += item.TRITEM1;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRTAX1)
                @{tot302 += item.TRTAX1;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRAMT1)
                @{tot303 += item.TRAMT1;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRITEM2)
                @{tot304 += item.TRITEM2;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRTAX2)
                @{tot305 += item.TRTAX2;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRAMT2)
                @{tot306 += item.TRAMT2;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRITEM)
                @{tot307 += item.TRITEM;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRTAX)
                @{tot308 += item.TRTAX;}
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(citem => item.TRAMT)
                @{tot309 += item.TRAMT;}
            </td>

            <td>
                @Html.DisplayFor(citem => item.REM)
            </td>
            <td>
                @Html.DisplayFor(citem => item.REFCNT)
            </td>

            @*<td>
                @Html.DisplayFor(citem => item.LinkRef)
            </td>*@
            @*<td>
                    @Html.DisplayFor(citem => item.STAMP)
                </td>*@


        </tr>

                    }

    @if (Model.Count() > 0)
    {
    <tr>
        <td colspan="9" style="text-align:right"><strong>Total</strong></td>
        <td style="text-align:right">
            <strong>  @tot101.ToString("N2")  </strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot102.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot103.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot104.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot105.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>       @tot106.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>       @tot107.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>      @tot108.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>      @tot109.ToString("N2")</strong>
        </td>

        <td style="text-align:right">
            <strong>  @tot201.ToString("N2")  </strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot202.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot203.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot204.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot205.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>       @tot206.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>       @tot207.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>      @tot208.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>      @tot209.ToString("N2")</strong>
        </td>

        <td style="text-align:right">
            <strong>  @tot301.ToString("N2")  </strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot302.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot303.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot304.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>     @tot305.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>       @tot306.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>       @tot307.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>      @tot308.ToString("N2")</strong>
        </td>
        <td style="text-align:right">
            <strong>      @tot309.ToString("N2")</strong>
        </td>
    </tr>
    }
</table>

<script>

    function callEdit(id, trtype, trdesc) {


        NModel.sourceno = $('#TRNO').val();
        NModel.id = id;
        NModel.trno = $('#TRNO').val();

        var NData = JSON.stringify(NModel);

        if ((trtype == 'Advance') && (trtype == trdesc)) {
            $("#Advance1").load('@Url.Action("RemoveItem")', NModel, function (response, status, xhr) {
                $('#tab_Advance').click();
            })
        } else {
            $("#UnAllocated1").load('@Url.Action("RemoveItem")', NModel, function (response, status, xhr) {
                //$('#tab_UnAlloted').click();
                if (status != "success") {
                    alert(xhr.statusText + "\nPlease Refresh and try again");
                }
            })
        }

        $("#Allocated1").load('@Url.Action("CSTRANMAllocated1")', NModel, function (response, status, xhr) {

        })


    }



</script>
