@model WebApplication1.CSCOSTAT

@using (Html.BeginForm("SearchPost","CSCOSTATs", FormMethod.Post, new { id = "SearchRecForm" }))
{
    @Html.AntiForgeryToken()

    <div class="container form-check-inline" style="width:96vw">

        @*<div class="form-group col-md-1">
            <div class="align-text-bottom">
                <br />
                <input type="submit" value="Search" class="btn btn-lg btn-primary fa fa-filter fa-search" />
            </div>
        </div>*@
        <div class="form-group col-md-2">
            @Html.Label("Sort by", null, htmlAttributes: new { @class = "control-label" })
            <div class="form-check-inline">
                <button class="btn btn-lg btn-primary fa fa-search" onclick="document.getElementById('SearchRecForm').submit()"></button>

                @Html.DropDownList("SORTBY", null, htmlAttributes: new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.CSCOMSTR.CONAME, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.CSCOMSTR.CONAME, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>


        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.CONO, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.CSCOMSTR.COREGNO, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.CSCOMSTR.STAFFCODE, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(model => model.CSCOMSTR.STAFFCODE, (IEnumerable<SelectListItem>)ViewBag.STAFFCODE, "No Selection", htmlAttributes: new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.COSTAT, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.DropDownListFor(model => model.COSTAT,null, "No Selection", htmlAttributes: new { @class = "form-control" })
               
            </div>
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.SDATE, htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.SDATE, new { htmlAttributes = new { @class = "form-control date datepicker", @Value = Model.SDATE.ToString("yyyy-MM-dd") } })

            </div>
        </div>

        <div class="form-group col-md-2">
            @Html.Label("End Date", htmlAttributes: new { @class = "control-label" })
            <div>
                @Html.EditorFor(model => model.EDATE, new { htmlAttributes = new { @class = "form-control date datepicker" , @Value = Model.EDATE.ToString("yyyy-MM-dd") } })

            </div>
        </div>




    </div>

    @Scripts.Render("~/bundles/jquery")
    <script>
        $("#SORTBY").change(function () {
            $("#SearchRecForm").submit();
        })

        $("#CSCOMSTR_STAFFCODE").change(function () {
            $("#SearchRecForm").submit();
        })

        $("#COSTAT").change(function () {
            $("#SearchRecForm").submit();
        })

        $("#SDATE").change(
function () {
    if ($("#SDATE").val() == "") {
        $("#SDATE").val("0001-01-01");
    }
})

        $("#EDATE").change(
function () {
    if ($("#EDATE").val() == "") {
        $("#EDATE").val("0001-01-01");
    }
})
    </script>
}