@using WebApplication1.Utility;
@model WebApplication1.CSADT

@{
    Layout = "~/Views/Shared/_LayoutG.cshtml";
    ViewBag.Title = "View Auditor ";
}
<div class="border border-info bg-info">
    <h4 class="h4 text-center">@ViewBag.Title @Model.ADTCODE</h4>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ADTCODE)

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.ADTDESC, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ADTDESC, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.ADTDESC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.STAMP, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.STAMP, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.STAMP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
	        <div class="col-md-offset-2 col-md-10">
				@Html.ActionLink("Edit", "Edit", new { id =  MyHtmlHelpers.ConvertIdToByteStr(Model.ADTCODE ) }, new {@class="btn btn-primary fa fa-edit", title="Edit"})
				@Html.ActionLink(" Back", "Index", null, new { @class = "btn btn-info fa fa-arrow-left" })
            </div>
        </div>
    </div>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
