@using WebApplication1.Utility;
@model WebApplication1.CSTAXTYPE

@{
    ViewBag.Title = "Delete  CSTAXTYPE";
}
<div class="border border-info bg-info" style="width:98vw">
    <h2 class="h2 text-center">@ViewBag.Title</h2>
</div>

<div class="border border-info bg-warning" style="width:98vw">
    <br />
    <h4 class="h4 text-center">ARE YOU SURE YOU WANT TO DELETE THIS</h4>
	<br/>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.ACTIVE_FLAG, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ACTIVE_FLAG, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.ACTIVE_FLAG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.EFFECTIVE_END, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
					@Html.EditorFor(model => model.EFFECTIVE_END, new { htmlAttributes = new {  @Value = Model.EFFECTIVE_END.ToString("yyyy-MM-dd"), @class = "form-control date datepicker, @readonly = true" } })

                @Html.ValidationMessageFor(model => model.EFFECTIVE_END, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.EFFECTIVE_START, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
					@Html.EditorFor(model => model.EFFECTIVE_START, new { htmlAttributes = new {  @Value = Model.EFFECTIVE_START.ToString("yyyy-MM-dd"), @class = "form-control date datepicker, @readonly = true" } })

                @Html.ValidationMessageFor(model => model.EFFECTIVE_START, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.STAMP, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.STAMP, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.STAMP, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.TAXCODE)

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.TAXDESC, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TAXDESC, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.TAXDESC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.TAXRATE, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TAXRATE, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.TAXRATE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.TAXRCODE, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TAXRCODE, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.TAXRCODE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.TAXTYPE, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TAXTYPE, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                @Html.ValidationMessageFor(model => model.TAXTYPE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
	        <div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Delete" class="btn btn-danger fa fa-trash" Title="Delete" />
				@Html.ActionLink(" Back", "Index", null, new { @class = "btn btn-info fa fa-arrow-left" })
            </div>
        </div>
    </div>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
