@model IEnumerable<WebApplication1.CSCOFEE>
@using WebApplication1.Utility;

    

<table class="table table-bordered table-hover table-responsive-lg table-sm">
    <tr class="label-primary">
        <th>
            @Html.DisplayNameFor(model => model.FEECODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSCASE.CASEDESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEEAMT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEEMTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEETYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LASTTOUCH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STAMP)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-nowrap">
            <td>
                @Html.DisplayFor(modelItem => item.FEECODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSCASE.CASEDESC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEEAMT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEEMTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEETYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LASTTOUCH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STAMP)
            </td>

            <td>
                @Html.ActionLink(" ", "Edit", "CSCOFEEs", new { id = item.CONO, fee = item.FEECODE }, new { @class = "fa fa-edit", title = "Edit" }) |
                @Html.ActionLink(" ", "Details", "CSCOFEEs", new { id = item.CONO, fee = item.FEECODE }, new { @class = "fa fa-folder", title = "Details" }) |
                @Html.ActionLink(" ", "Delete", "CSCOFEEs", new { id = item.CONO, fee = item.FEECODE }, new { @class = "fa fa-trash", title = "Delete" })
            </td>
        </tr>
    }

</table>
