@model IQueryable<WebApplication1.CSCOMSTR>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Company Listing</title>
    @Styles.Render("~/Content/css")

    <style type="text/css">
        h1, h2, h3, h4 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        .letter {
            padding: 50px, 50px, 50px, 50px;
            margin: 50px, 50px, 50px, 50px;
            /*border: 1px solid black;*/
            /*background-color: lightblue;*/
        }

        html, body {
            padding: 0;
            margin: 0;
        }

        pre {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 1rem;
        }

        @@media print {
            header {
                position: relative;
                top: 0;
                width: 100%;
                height: 50px;
                /*background-color: #333;*/
                padding: 20px;
            }

            pre {
                border: none;
            }
        }

        @@media print {
            footer {
                /*background-color: #333;*/
                width: 100%;
                bottom: 0;
                height: 400px;
                position: relative; /* OldProperty */
                position: static; /* updated Property */
            }

            pre {
                border: none;
            }
        }

        @@media print {
            #main {
                position: relative;
                padding-top: 70px;
                /*height: 1000px;*/
                overflow: visible;
                text-align: left;
            }

            pre {
                border: none;
            }
        }

        #myContent {
            column-count: 3;
            column-gap: 5px;
            border: groove;
            /*height: 350px;*/
        }

        .atop {
            display: inline-block;
            vertical-align: top;
        }
    </style>


</head>
<body>
    <div class="container-fluid" style="width:98vw">
        <div class="letter">
            <header>
                <div class="text-center">
                    <h4 class="h4">@ViewBag.Company as at @ViewBag.RPT_START</h4>
                 
                    <br />
                </div>
            </header>
        </div>
        <div id="main">
            @{
                string startletter = "";
                string[] alphabet = { "*", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z" };

            }
            <div id="myContent">
                @foreach (string title in alphabet)
                {
                    startletter = title;


                    <div class="card col-12" style="float:left;">
                        <div class="container-fluid">
                            <h4 class="h4 card-title">@startletter</h4>
                            <div class="card-body">

                                <small>
                                    @*for names not starting with alphabet*@
                                    @if (startletter == "*")
                                    {
                                        foreach (CSCOMSTR item in Model)
                                        {
                                            startletter = item.CONAME.Substring(0, 1);
                                            if (startletter == "A") { break; }
                      

                                            if (string.IsNullOrEmpty(item.WEB))
                                            {
                                                @item.CONAME @:&lang; @item.COREGNO &rang; &nbsp;<br />
                                            }
                                            else
                                            {
                                                <a href="mailto:@item.WEB">@item.CONAME &lang; @item.COREGNO &rang; &nbsp;<br /></a>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        foreach (CSCOMSTR item in Model.Where(x => x.CONAME.StartsWith(startletter)))
                                        {


                                            if (string.IsNullOrEmpty(item.WEB))
                                            {
                                                @item.CONAME @:&lang; @item.COREGNO &rang; &nbsp;<br />
                                            }
                                            else
                                            {
                                                <a href="mailto:@item.WEB">@item.CONAME &lang; @item.COREGNO &rang; &nbsp;<br /></a>
                                            }


                                        }
                                    }
                                </small>

                            </div>
                        </div>
                    </div>



                }
            </div>
            <div style="clear:both"></div>

            <br />
        </div>


        <footer>
            <div class="row">


            </div>

        </footer>

    </div>



    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@

</body>
</html>
