@model IEnumerable<WebApplication1.CSCASE>
@using WebApplication1.Utility;

@{
    Layout = "~/Views/Shared/_LayoutG.cshtml";
    ViewBag.Title = "Case/Fee Code";
}

<div class="border border-info bg-info" >
    <h4 class="h4 text-center">@ViewBag.Title</h4>
</div>


<table class="table table-bordered table-hover table-responsive-lg table-sm">
    <tr  class="label-primary">
	            <th>
                @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-primary h4" })
            </th>
        <th>
            @Html.DisplayNameFor(model => model.CASECODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CASEDESC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAPSFIX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STAMP)
        </th>
        <th>
            @Html.ActionLink(" ", "Listing", null, new { @class = "btn btn-primary h4 fa fa-print", title = "Listing" })
        </th>
    </tr>

@foreach (var item in Model) {
            <tr class="text-nowrap">
                <td>
                    @Html.ActionLink(" ", "Edit", new { id =  MyHtmlHelpers.ConvertIdToByteStr(item.CASECODE ) }, new {@class="fa fa-edit", title="Edit"})
                    @Html.ActionLink(" ", "Details", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CASECODE ) }, new { @class = "fa fa-folder", title = "Details" })
                    @Html.ActionLink(" ", "Delete", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CASECODE ) }, new { @class = "fa fa-trash", title = "Delete" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CASECODE)
                </td>
        <td>
            @Html.DisplayFor(modelItem => item.CASEDESC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAPSFIX)
        </td>
        <td colspan="2">
            @Html.DisplayFor(modelItem => item.STAMP)
        </td>
    </tr>
}

</table>
