@model IEnumerable<WebApplication1.CSCOADT>
@using WebApplication1.Utility;
@{
    ViewBag.Title = "Index";
}

<div style="width:96vw">
    <table class="table table-bordered table-hover table-responsive-lg table-sm">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.First().RDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ADATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ADTCODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CSADT.ADTDESC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PRSCODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CSPR.PRSNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().REM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STAMP)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr class="text-nowrap">
                <td>
                    @if (Html.Action() == "Edit")
                    {   
                        @Html.ActionLink(" ", "Edit", "CSCOADTs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), row = item.ROWNO }, new { @class = "fa fa-edit", title = "Edit" })
                        @:&nbsp;
                        @Html.ActionLink(" ", "Details", "CSCOADTs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), row = item.ROWNO }, new { @class = "fa fa-folder", title = "Details" })
                        @:&nbsp;
                        @Html.ActionLink(" ", "Delete", "CSCOADTs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), row = item.ROWNO }, new { @class = "fa fa-trash", title = "Delete" })
                    }
                    else if (Html.Action() == "Details")
                    {
                        @Html.ActionLink(" ", "Details", "CSCOADTs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), row = item.ROWNO }, new { @class = "fa fa-folder", title = "Details" })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADTCODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CSADT.ADTDESC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRSCODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CSPR.PRSNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STAMP)
                </td>



            </tr>
        }

    </table>
</div>