@model IEnumerable<WebApplication1.CSCOADDR>
@using WebApplication1.Utility;
@{
    ViewBag.Title = "Index";
}

<div style="width:96vw">
    <table class="table table-bordered table-hover table-responsive-lg table-sm">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.First().MAILADDR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ADDRTYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ADDR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().POSTAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CITYCODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().STATECODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CTRYCODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PHONE)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().FAX)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().OPRHRS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().REM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EDATE)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.STAMP)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="text-nowrap">
                    @if (Html.Action() == "Edit")
                    {
                        @Html.ActionLink(" ", "Edit", "CSCOADDRs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), row = item.ADDRID }, new { @class = "fa fa-edit", title = "Edit" })
                        @:&nbsp;
                        @Html.ActionLink(" ", "Details", "CSCOADDRs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), row = item.ADDRID }, new { @class = "fa fa-folder", title = "Details" })
                        @:&nbsp;
                        @Html.ActionLink(" ", "Delete", "CSCOADDRs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), row = item.ADDRID }, new { @class = "fa fa-trash", title = "Delete" })
                    }
                    else if (Html.Action() == "Details")
                    {
                        @Html.ActionLink(" ", "Details", "CSCOADDRs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), row = item.ADDRID }, new { @class = "fa fa-folder", title = "Details" })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAILADDRBool)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADDRTYPE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADDR)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.POSTAL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HKCITY.CITYDESC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HKSTATE.STATEDESC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HKCTRY.CTRYDESC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PHONE)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FAX)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OPRHRSStr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EDATE)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.STAMP)
                </td>


            </tr>
        }

    </table>
</div>