@model IEnumerable<WebApplication1.CSCOAR>

@using WebApplication1.Utility;

<div style="width:96vw">
    <table class="table table-bordered table-hover table-responsive-lg table-sm">
        <tr class="label-primary">
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ARNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LASTAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ARTOFILE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REMINDER1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FILEDAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUBMITAR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.STAMP)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr class="text-nowrap">
                <td>
                    @if (Html.Action() == "Edit")
                    {
                        @Html.ActionLink(" ", "Edit", "CSCOARs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), seq = item.ARNO }, new { @class = "fa fa-edit", title = "Edit" })
                        @:&nbsp;
                        @Html.ActionLink(" ", "Details", "CSCOARs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), seq = item.ARNO }, new { @class = "fa fa-folder", title = "Details" })
                        @:&nbsp;
                        @Html.ActionLink(" ", "delete", "CSCOARs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), seq = item.ARNO }, new { @class = "fa fa-trash", title = "Delete" })
                    }
                    else if (Html.Action() == "Details")
                    {
                        @Html.ActionLink(" ", "Details", "CSCOARs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), seq = item.ARNO }, new { @class = "fa fa-folder", title = "Details" })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ARNO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LASTAR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ARTOFILE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REMINDER1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FILEDAR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SUBMITAR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STAMP)
                </td>

            </tr>
        }

    </table>
</div>