@using WebApplication1.Utility;

@model IEnumerable<WebApplication1.CSCOAK>

@{
    ViewBag.Title = "Index";
}

<div style="width:96vw">
    <table class="table table-bordered table-hover table-responsive-lg table-sm">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.EFFDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AK)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REM)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.STAMP)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (Html.Action() == "Edit")
                    {
                        @Html.ActionLink(" ", "Edit", "CSCOAKs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), row = item.ROWNO }, new { @class = "fa fa-edit", title = "Edit" })
                        @:&nbsp;
                        @Html.ActionLink(" ", "Details", "CSCOAKs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), row = item.ROWNO }, new { @class = "fa fa-folder", title = "Details" })
                        @:&nbsp;
                        @Html.ActionLink(" ", "Delete", "CSCOAKs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), row = item.ROWNO }, new { @class = "fa fa-trash", title = "Delete" })
                    }
                    else if (Html.Action() == "Details")
                    {
                        @Html.ActionLink(" ", "Details", "CSCOAKs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), row = item.ROWNO }, new { @class = "fa fa-folder", title = "Details" })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EFFDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AK)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REM)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.STAMP)
                </td>

            </tr>
        }

    </table>
</div>