@model IEnumerable<WebApplication1.CSCOCM>
@using WebApplication1.Utility;
@{
    ViewBag.Title = "Index";
}

<div style="width:96vw">
    <table class="table table-bordered table-hover table-responsive-lg table-sm">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.First().REFDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().REFNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CMSDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CMEDATE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PRSCODE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CSPR.PRSNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ADDRID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CSPRSADDR.ADDR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CMNATURE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().LS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CMINFOStr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().REM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().STAMP)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (Html.Action() == "Edit")
                    {
                        @Html.ActionLink(" ", "Edit", "CSCOCMs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), refno = item.REFNO }, new { @class = "fa fa-edit", title = "Edit" })
                        @:&nbsp;
                        @Html.ActionLink(" ", "Details", "CSCOCMs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), refno = item.REFNO }, new { @class = "fa fa-folder", title = "Details" })
                        @:&nbsp;
                        @Html.ActionLink(" ", "Delete", "CSCOCMs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), refno = item.REFNO }, new { @class = "fa fa-trash", title = "Delete" })
                    }
                    else if (Html.Action() == "Details")
                    {
                        @Html.ActionLink(" ", "Details", "CSCOCMs", new { id = MyHtmlHelpers.ConvertIdToByteStr(item.CONO), refno = item.REFNO }, new { @class = "fa fa-folder", title = "Details" })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REFDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REFNO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CMSDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CMEDATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRSCODE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CSPR.PRSNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADDRID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CSPRSADDR.ADDR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CMNATURE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CMINFOStr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.STAMP)
                </td>


            </tr>
        }

    </table>
</div>