@model IEnumerable<WebApplication1.TaxRecord>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Company Listing</title>
    @Styles.Render("~/Content/css")

    <style type="text/css">
        h1, h2, h3, h4 {
            text-align: center;
        }

        p {
            text-align: center;
        }

        .letter {
            padding: 50px, 50px, 50px, 50px;
            margin: 50px, 50px, 50px, 50px;
            /*border: 1px solid black;*/
            /*background-color: lightblue;*/
        }

        html, body {
            padding: 0;
            margin: 0;
        }

        pre {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 1rem;
        }

        @@media print {
            header {
                position: relative;
                top: 0;
                width: 100%;
                height: 50px;
                /*background-color: #333;*/
                padding: 20px;
            }

            pre {
                border: none;
            }
        }

        @@media print {
            footer {
                /*background-color: #333;*/
                width: 100%;
                bottom: 0;
                height: 400px;
                position: relative; /* OldProperty */
                position: static; /* updated Property */
            }

            pre {
                border: none;
            }
        }

        @@media print {
            #main {
                position: relative;
                padding-top: 70px;
                /*height: 1000px;*/
                overflow: visible;
                text-align: left;
            }

            pre {
                border: none;
            }
        }
    </style>


</head>
<body>
    <div class="container-fluid">
        <div class="letter">
            <header>
                <div class="text-center">
                    <h4 class="h4">@ViewBag.Company</h4>
                    <br />
                    <h4>@ViewBag.Title from @ViewBag.RPT_START to @ViewBag.RPT_END</h4>
                </div>
            </header>
        </div>
        <div id="main">
            <table class="table table-bordered table-hover table-responsive-lg table-sm">
                <thead>
                    <tr class="label-primary text-nowrap">

                        <th>
                            @Html.DisplayNameFor(model => model.First().entdate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().cono)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().coname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().source)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().cnt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().rate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().amt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.First().tax)
                        </th>



                    </tr>
                </thead>
                <tbody>
                    @{
                        DateTime lastdate = new DateTime(1, 1, 1);
                        decimal totDayAmt = 0;
                        decimal totDayTax = 0;
                        decimal totAmt = 0;
                        decimal totTax = 0;
                        int cnt = 0;

                    }
                    @foreach (var Item in Model)
                    {
                        if (lastdate == Item.entdate) { }
                        else
                        {
                            if ((lastdate != new DateTime(1, 1, 1)) && (cnt > 1))
                            {
                                <tr>
                                    <td class="text-right" colspan="6">@lastdate.ToString("dd/MM/yyyy")</td>
                                    <td class="text-right"><strong> @totDayAmt.ToString("N2") </strong>  </td>
                                    <td class="text-right"><strong> @totDayTax.ToString("N2")</strong></td>
                                </tr>

                                totDayAmt = 0;
                                totDayTax = 0;
                                cnt = 0;
                            }




                        }

                        <tr>
                            @{ totDayAmt += Item.amt;
                                totDayTax += Item.tax;
                                totAmt += Item.amt;
                                totTax += Item.tax;
                                cnt++;
                            }
                            <td>
                                @if (lastdate == Item.entdate) { }
                                else
                                {
                                    @Html.DisplayFor(item => Item.entdate)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(item => Item.coregno)
                            </td>
                            <td>
                                @Html.DisplayFor(item => Item.coname)
                            </td>
                            <td>
                                @Html.DisplayFor(item => Item.source)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(item => Item.cnt)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(item => Item.rate)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(item => Item.amt)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(item => Item.tax)
                            </td>

                        </tr>

                                    lastdate = Item.entdate;

                                }


                    @if (cnt > 1)
                    {
                        <tr>
                            <td class="text-right" colspan="6">@lastdate.ToString("dd/MM/yyyy")</td>
                            <td class="text-right"><strong> @totDayAmt.ToString("N2") </strong>  </td>
                            <td class="text-right"><strong> @totDayTax.ToString("N2")</strong></td>
                        </tr>
                    }
                    @if (cnt > 0)
                    {
                        <tr>
                            <td class="text-right" colspan="6"><strong>Grand Total</strong> </td>
                            <td class="text-right"><strong> @totAmt.ToString("N2") </strong>  </td>
                            <td class="text-right"><strong> @totTax.ToString("N2")</strong></td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
        </div>


        <footer>
            <div class="row">


            </div>

        </footer>

    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
