@model WebApplication1.CSCOADDR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CSCOADDR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MAILADDR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAILADDR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDR1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDR1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDR2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDR2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDR3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDR3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAX1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAX1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAX2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAX2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPRHRS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPRHRS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ENDDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ENDDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STAMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STAMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HKCITY.CITYDESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HKCITY.CITYDESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HKSTATE.STATEDESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HKSTATE.STATEDESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HKCTRY.CTRYDESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HKCTRY.CTRYDESC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
