@model WebApplication1.CSPRSADDR
@using WebApplication1.Utility

@{
    Layout = "~/Views/Shared/_LayoutG.cshtml";
    ViewBag.Title = "Edit Entity Address";
}
<div class="border border-info bg-info">
    <h4 class="h4 text-center">@ViewBag.Title @Model.PRSCODE</h4>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PRSCODE)

        @Html.HiddenFor(model => model.ADDRID)

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.MAILADDR, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.MAILADDRBool, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MAILADDR, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.ADDRTYPE, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.ADDRTYPE, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ADDRTYPE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.ADDR1, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ADDR1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ADDR1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.ADDR2, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ADDR2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ADDR2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.ADDR3, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ADDR3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ADDR3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.POSTAL, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.POSTAL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.POSTAL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.CITYCODE, null, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownList("CITYCODE", null, "No Selection", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CITYCODE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.STATECODE, null, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownList("STATECODE", null, "No Selection", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.STATECODE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.CTRYCODE, null, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownList("CTRYCODE", null, "No Selection", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CTRYCODE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.PHONE1, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PHONE1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHONE1, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.PHONE2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHONE2, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.FAX1, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.FAX1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FAX1, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                @Html.EditorFor(model => model.FAX2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FAX2, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.REM, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.REM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.REM, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.STAMP, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.STAMP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.STAMP, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @Html.HiddenFor(Model => Model.STAMP)

		   @Html.HiddenFor(model => model.CSCOAGTCHGs)
		   @Html.HiddenFor(model => model.CSCOCMs)
		   @Html.HiddenFor(model => model.CSCODRCHGs)
		   @Html.HiddenFor(model => model.CSCOMGRCHGs)
		   @Html.HiddenFor(model => model.CSCOSECCHGs)
		   @Html.HiddenFor(model => model.CSCOSHCHGs)
		   @Html.HiddenFor(model => model.HKCITY)
		   @Html.HiddenFor(model => model.HKSTATE)
		   @Html.HiddenFor(model => model.HKCTRY)
		   @Html.HiddenFor(model => model.SFMYNEWDRs)
		   @Html.HiddenFor(model => model.SFMYNEWMGs)
		   @Html.HiddenFor(model => model.SFMYNEWSCs)
		   @Html.HiddenFor(model => model.SFMYNEWSHes)
		   @Html.HiddenFor(model => model.SFMYSCMVD1)
		   @Html.HiddenFor(model => model.SFSGDRMVD1)
		   @Html.HiddenFor(model => model.SFSGNEWDRs)
		   @Html.HiddenFor(model => model.SFSGNEWMGs)
		   @Html.HiddenFor(model => model.SFSGNEWSCs)
		   @Html.HiddenFor(model => model.SFSGNEWSHes)
		   @Html.HiddenFor(model => model.SFSGSCMVD1)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary fa fa-save" Title="Save" />
                @Html.ActionLink(" Back", "Edit", "CSPRs", new { id = MyHtmlHelpers.ConvertIdToByteStr(Model.PRSCODE) }, new { @class = "btn btn-info fa fa-arrow-left" })
            </div>
        </div>
    </div>
}


@section Scripts {



    @Scripts.Render("~/bundles/jqueryval")
}
