@using WebApplication1.Utility
@model WebApplication1.CSPRSREG

@{
    Layout = "~/Views/Shared/_LayoutG.cshtml";
    ViewBag.Title = "Create Entity Registration";
}

<div class="border border-info bg-info">
    <h4 class="h4 text-center">@ViewBag.Title @Model.PRSCODE</h4>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.PRSCODE, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
					@Html.EditorFor(model => model.PRSCODE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PRSCODE, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @Html.HiddenFor( Model => Model.PRSCODE)

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.CTRYCODE, null,  htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownList("CTRYCODE", null, "No Selection", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CTRYCODE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.REGTYPE,null, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
					@Html.DropDownListFor(model => model.REGTYPE, null,"No Selection", htmlAttributes: new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.REGTYPE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.REGNO, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
					@Html.EditorFor(model => model.REGNO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.REGNO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.REM, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
					@Html.EditorFor(model => model.REM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.REM, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group col-md-10 form-check-inline">
            @Html.LabelFor(model => model.STAMP, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
					@Html.EditorFor(model => model.STAMP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.STAMP, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @Html.HiddenFor(Model => Model.STAMP)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary fa fa-save" Title="Create" />
				@Html.ActionLink(" Back", "Edit","CSPRs", new { id = MyHtmlHelpers.ConvertIdToByteStr(ViewBag.PRSCODE) }, new { @class = "btn btn-info fa fa-arrow-left" })
            </div>
        </div>
    </div>
}



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
