@using WebApplication1.Utility;
@model IEnumerable<WebApplication1.CSJOBSTF>

@{
    ViewBag.Title = "Index";
}

<div class="border border-info bg-info" style="width:98vw">
    <h4 class="h4 text-center">@ViewBag.Title</h4>
</div>


<table class="table table-bordered table-hover table-responsive-lg table-sm">
    <tr  class="label-primary">
	   <th>
         @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-primary h4" })
       </th>
        <th>
            @Html.DisplayNameFor(model => model.JOBNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROWNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STAMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HKSTAFF.STAFFDESC)
        </th>
        
    </tr>

@foreach (var item in Model) {
            <tr class="text-nowrap">
                <td>
                    @Html.ActionLink(" ", "Edit", new {  /* id=item.PrimaryKey */  }, new {@class="fa fa-edit", title="Edit"})
                    @Html.ActionLink(" ", "Details", new {  /* id=item.PrimaryKey */ }, new { @class = "fa fa-folder", title = "Details" })
                    @Html.ActionLink(" ", "Delete", new {  /* id=item.PrimaryKey */  }, new { @class = "fa fa-trash", title = "Delete" })
                </td>

        <td>
            @Html.DisplayFor(modelItem => item.JOBNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROWNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STAMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HKSTAFF.STAFFDESC)
        </td>
    </tr>
}

</table>
